@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {height: 100%; font-size:16px; font-family: Montserrat, sans-serif;}
body {margin:0; padding:0;}
header {width:100%; position:fixed; top:0; z-index:1; background-color: white; border-width: 0 0 2px 0; border-color:black; border-style: solid; height:90px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

h1#title {width:100%; text-align: center; position:relative; margin:0; text-transform:capitalize; z-index:0; top:-36px;}
h2#description {width: 100%; text-align: center; font-size: 100%; font-weight: normal; position: relative; top:-55px;}
#squarefield {width:1728px; height:1728px; position:relative; top:100px; z-index:0; margin:auto; padding:15px;}
.square {float:left; width:100px; height:100px; margin:4px; cursor: pointer; transition: background 500ms; background-position:center center !important;}
.square .author {font-size:80%; text-align:right; position:relative; top:70px; background-color:white; padding:2px; display:none;}
#palette {z-index:1; width:54px; height:54px; position:relative; border-style:solid; border-color:#333333; left:15px; top:15px;}
#palette .square {width:25px; height:25px; margin:1px;}
#palette .red {background-color:red;}
#palette .green {background-color:green;}
#palette .blue {background-color:blue;}
#palette .result {background-color:white;}
#panel {background-color:#333333; height:380px; position:fixed; top:92px; z-index:1; color:white; border-style:solid; border-color:#333333; border-width:0 2px 0 0; opacity:1; transition: left 200ms; left:0; bottom:0;}
#panel.off {left:-1000px;}
#panel nav {border-style:solid; border-width:0 0 2px 0;}
#panel button {background-color:transparent; color:white; border-style:none; padding:5px; font-weight: bold; display: inline-block; cursor: pointer; margin:0px; outline:none;}
#panel p {font-size:80%;}
#panel button.active {background-color: white; color:#333333;}
#panel h2 {margin:0px;}
#panel .content {padding:10px; width:280px; display: none;}
#panel .content#colourpicker {display: block;}
#panel input[type="range"] {width:200px; vertical-align: middle; margin:0; padding:0; margin-left:10px;}
#panel label {display: inline-block; vertical-align: middle; margin:0; padding:0; width:50px;}
.slider {height:35px;}
#panel h3 {text-align: center; font-weight:normal; font-size:100%;}
#panel #mixed {display: block; width:100%; height:50px; background-color:white; cursor:pointer;}
#preview {width:100px; height:100px; margin-top:10px; display: block; cursor: pointer; border-style:solid; border-color:white; float:right;}
#image-preview {width:160px; margin-right:10px; float:left;}

#signinform input {margin-bottom:10px;}
#signinform label {width:50px; margin-right:10px;}
#signinform button {color:#333333; background-color:white; cursor:pointer; display:inline-block; width:123px; margin:10px auto;}

#passwordpicker {width:220px; float:left;}
#passwordpicker .square {width:50px; height:50px; margin:2px;}
#passred {background-color:red;}
#passorange {background-color:orange;}
#passyellow {background-color:yellow;}
#passgreen {background-color:green;}
#passblue {background-color:blue;}
#passindigo {background-color:indigo;}
#passviolet {background-color:violet;}
#passwhite {background-color:white;}

#passwordpicked {float:right; width:50px; position:relative; top:-5px; left:5px; text-transform:capitalize;}


@media (max-width: 400px) {
header h1#title, header h2#description {text-align:right; right:10px;}
#panel {width:100%;}
#panel {height:100%;}
    
};

/* Animations for pallete/logo */

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
  }
}
#palette {
  -webkit-animation: rotating 1s linear;
  -moz-animation: rotating 1s linear;
  -ms-animation: rotating 1s linear;
  -o-animation: rotating 1s linear;
  animation: rotating 1s linear;
    transform: rotate(315deg);
}