head,
body {
  background-color: black;
  width: 100%;
  height: 100%;
}
.error {
  display: block;
  position: fixed;
  color:white;
  width:100%;
  top:0;
  background-color: red;
  padding: 5px;
  left:0;
  clear: both;
}
.inner {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border-color: black;
  left: 0px;
  top: 0px;
  border-width: 2px;
}
.age0 {
  border-style: solid;
}
.age1 {
  border-style: double;
  border-width: 4px;
}
.age2 {
  border-style: dashed;
}
.age3 {
  border-style: dotted;
}
.age4 {
  border-style: none;
}
.author {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border: solid white;
  left: 0px;
  top: 0px;
}
form#squarefield label {
  display: none;
}
form#squarefield {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}
form#user {
  display: block;
  clear: both;
  color: white;
}
form#user input {
  display: block;
}
body {
  font-family: monospace;
  font-size: 20px;
}
#squarefield input {
  width: 100%;
  font-size: 100%;
}
.square {
  box-sizing: border-box;
  position: relative;
  border: none;
  cursor: pointer;
  outline: none;
  width: calc(25% - 2px);
  height: calc(25% - 2px);
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 0px;
  display: block;
  float: left;
}
